/* ========================================== *\
  
   Structure
   ---------
      .Header
        .HeaderText
            .subTitle
            .mainTitle


\* ========================================== */

.Hero {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right top,
      rgba(13, 71, 161, 0.8),
      rgba(33, 150, 243, 0.4)
    ),
    url(../../assets/images/hero.jpg);
  background-size: cover;
  background-position: center;
}

.HeaderText {
  position: absolute;
  left: 1.5rem;
  bottom: 1rem;
  text-align: left;
  color: var(--color-grey-light-1);
  font-weight: 300;
}

.subTitle,
.mainTitle {
  display: block; /* To create a line-break between both title elements */
}

.subTitle {
  font-size: 1.5rem;
}

.mainTitle {
  font-size: 4rem;
}
