.Layout {
  display: flex;
  flex-direction: row;
}

.Header {
  position: sticky;
  width: 50%;
  height: 100vh;
}

.Main {
  width: 50%;
  height: 100vh;
  overflow: scroll;
  padding: 3rem;
  background-color: var(--color-grey-light-1);
}
