:root {
  --color-text: rgba(0, 0, 0, 87%);
  --color-white: #fff;
  --color-grey-light-1: #fafafa;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 55%;
  }
}
